<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ settings.title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='dist/output.css') }}">
    <script src="{{ url_for('static', path='dist/htmx.min.js') }}"></script>
</head>
<body class="{{ 'min-h-screen flex justify-center items-center px-4 py-12 text-white ' + settings.background }}">
  <blockquote class="font-semibold italic">
    This is not what you are looking for,
    but don't give up. Be unstoppable and persist!
  </blockquote>
</body>
</html>